option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: '5000'
    # FRONTEND_URL: 'https://your-frontend-domain'
    # DATABASE_URL: ''
    # REDIS_URL: ''
    # JWT_SECRET: ''
    # ENCRYPTION_KEY: ''

  aws:elasticbeanstalk:container:docker:
    ContainerPort: '5000'

  aws:elasticbeanstalk:environment:process:default:
    Port: '5000'
    Protocol: HTTP
    HealthCheckPath: /api/health
    HealthCheckSuccessCodes: '200,301,302'

  aws:elbv2:loadbalancer:
    IdleTimeout: '120'

