option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: '5001'
  aws:elasticbeanstalk:container:docker:
    ContainerPort: '5001'
  aws:elasticbeanstalk:environment:process:default:
    Port: '5001'
    Protocol: HTTP
    HealthCheckPath: /health
    HealthCheckSuccessCodes: '200,301,302'

